.submitBtn {
    width: 80px;
    // height: 25px;
    margin-right: 14px;
    padding: 10px 15px;

    color: rgba(255, 255, 255, 0.952);
    background-color: rgb(127, 19, 170);
    border: none;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    outline: none;
}