.list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.item {
    &:not(:last-child) {
        margin-right: 15px;
    }
}

.btn {
    width: 80px;
    padding: 10px 15px;

    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(127, 19, 170, 0.4);
    border: none;
    border-radius: 14px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    outline: none;
    transform: scale(1);
    transition: color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
        background-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
        transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
        
    &:hover,
    &:focus {
        color: rgba(255, 255, 255, 0.952);
        background-color: rgba(127, 19, 170, 0.9);
        transform: scale(1.15);
    }
}