.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.item {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid rgb(55, 53, 179);
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(127, 19, 170, 0.3);
    box-shadow: 0px 0px 20px 2px rgba(127, 19, 170, 0.3);

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}
  
.signature {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(55, 53, 179);
}

.quantity {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    color: rgb(55, 53, 179);
}