.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.title {
    margin-bottom: 50px;
    text-align: center;
    color: #bc13fe;
    font-size: 40px;
    
    text-shadow: 0 2.8px 2.2px green, 
    0 6.7px 6px blue, 
    0 12.5px 12px red,
    0 22.3px 17.9px purple, 
    0 28.8px 28px orange, 
    0 40px 33px teal;
}

  